@using GiftShop.Areas.ProductList.Models
@model ProductListViewModel

<div class="row">
    <div class="col-2 col-sm-1 col-md-2"></div>
    <div class="col">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            @foreach (var goods in Model.Goods)
            {
                <div class="col my-2">
                    <div class="card">
                        <a asp-action="Edit" asp-controller="Goods" asp-route-area="StoreManage" asp-route-id="@goods.Id">
                            <img src="~/goods_image/@Url.Content(goods.GoodsImage.First().Name)" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body ">
                            <h5 class="card-title">@goods.Name</h5>
                            <p class="card-text">@goods.ShortDescript</p>
                                <a asp-action="Edit" asp-controller="Goods" asp-route-area="StoreManage" asp-route-id="@goods.Id" class="btn btn-success">Купить</a>
                                <span class="card-text">@goods.Price <span class="text-muted">₴</span></span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
