@using GiftShop.Areas.ProductList.Models
@model ProductListViewModel

<main class="cd-main-content">


    <section class="cd-gallery">
        <div class=" row">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

            </div>
            @*<div class="col-2 collapse">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">TEST</label>
                            </div>
                        </div>
                    </nav>
                </div>*@
            <div class="col">
                <div class="row row-cols-2  row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                    @*@for (int i = 0; i < 50; i++)
                        {*@
                    @if (Model?.Goods != null)
                    {

                        @foreach (var goods in Model.Goods)
                        {
                            <div class="col p-2">

                                <div class="card card-background goods-card">
                                    <a asp-action="Details" asp-controller="Goods" asp-route-area="ProductList" asp-route-goodsId="@goods.Id">
                                        <div class="img-block-card">

                                            <img src="~/goods_image/@(goods.GoodsImage.Count == 0 ? "without-photo.png" : Url.Content(goods.GoodsImage.FirstOrDefault().Name))" class="card-img-top img-goods" alt="...">

                                            @*<img src="~/goods_image/@Url.Content(goods.GoodsImage.First().Name)" class="card-img-top" alt="...">*@
                                        </div>
                                    </a>

                                    <div class="card-body  mr-0 mt-2">
                                        <div>
                                            <div class="name-goods text-center">
                                                <a asp-action="Details" asp-controller="Goods" asp-route-area="ProductList" asp-route-goodsId="@goods.Id">
                                                    <h5 class="card-title">@goods.Name</h5>
                                                </a>
                                            </div>
                                            @*<p class="card-text">@goods.ShortDescript</p>*@

                                            <div class="row mt-3">
                                                <div class="col-sm-4">
                                                    @if (goods.Amount > 0)
                                                    {
                                                        <p class="text-center my-2 my-sm-0">
                                                            <span class="badge badge-success">В наличии</span>
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-center my-2 my-sm-0">
                                                            <span class="badge badge-danger">Нет в наличии</span>
                                                        </p>

                                                    }
                                                </div>

                                                <div class="col-sm px-2">
                                                    <div>
                                                        <p class="ml-2 text-muted text-center text-md-right"> <small>Код товара: @goods.Code</small></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="text-center"><span class="card-text h6 col-sm-8 my-2">@goods.Price ₴</span></p>

                                            <div class="row mt-4">
                                                <a class="btn btn-success btn-addtocart col-sm @((goods.Amount > 0)?"":"disabled")" data-goodsId="@goods.Id">Купить</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="card">
                                        <a asp-action="Edit" asp-controller="Goods" asp-route-area="StoreManage" asp-route-id="@goods.Id">
                                            <img src="~/goods_image/@Url.Content(goods.GoodsImage.First().Name)" class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body ">
                                            <h5 class="card-title">@goods.Name</h5>
                                            <p class="card-text">@goods.ShortDescript</p>
                                            <a asp-action="Edit" asp-controller="Goods" asp-route-area="StoreManage" asp-route-id="@goods.Id" class="btn btn-success">Купить</a>
                                            <span class="card-text">@goods.Price <span class="text-muted">₴</span></span>
                                        </div>
                                    </div>*@
                            </div>
                        }}
                </div>
            </div>
        </div>
    </section> <!-- cd-gallery -->


    @if (Model.Filter != null)
    {
        <input type="hidden" asp-for="GroupId" />
        <div class="cd-filter">
            <form method="post">

                <div class="cd-filter-block">
                    <h4>Цена</h4>
                    <div class="cd-filter-content">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="text-center form-control" placeholder="От" asp-for="Filter.MinPrice">
                            </div>
                            <div class="my-1">
                                <label>-</label>
                            </div>
                            <div class="col">
                                <input type="text" class="text-center form-control" placeholder="До" asp-for="Filter.MaxPrice">
                            </div>
                        </div>
                        @*<input asp-for="Filter.MinPrice" />
                            <label>-</label>
                            <input asp-for="Filter.MaxPrice" />*@
                    </div> <!-- cd-filter-content -->
                </div>

                @*@for (var i = 1; i <= 10; i++)
                    {
                        <input name="AreChecked" type="checkbox" value="@i" /> @i<br />
                    }*@
                @for (var i = 0; i < Model.Filter.GroupedProperties.Count(); i++)
                {
                    <div class="cd-filter-block">
                        <input type="hidden" asp-for="Filter.GroupedProperties[i].PropId" />
                        <h4>@Model.Filter.GroupedProperties[i].Name</h4>
                        @for (var j = 0; j < Model.Filter.GroupedProperties[i].Charact.Count(); j++)
                        {
                            <div class="cd-filter-content">
                                <input class="mx-1" id="@($"check_{i}{j}") " asp-for="Filter.GroupedProperties[i].Charact[j].AreChecked" />
                                <input type="hidden" asp-for="Filter.GroupedProperties[i].Charact[j].Value" />
                                <label class="form-check-label" for="@($"check_{i}{j}")">@Model.Filter.GroupedProperties[i].Charact[j].Value</label>
                            </div>
                        }
                    </div>
                }

                @*@foreach (GroupedProperties prop in Model.Filter.GroupedProperties)
                    {
                        <div class="cd-filter-block">
                            <h4>@prop.Name</h4>
                            <input type="hidden" asp-for="@prop.PropId" />
                            @foreach (CharactItem charact in prop.Charact)
                            {
                                <div class="cd-filter-content">
                                    <input type="checkbox" asp-for="@charact.AreChecked" />
                                    @charact.Value
                                </div>
                            }
                        </div>
                    }*@
                <button class="btn btn-success mx-5 mt-4">Применить фильтр</button>
            </form>
            <a href="#0" class="cd-close">&#60</a>
        </div> <!-- cd-filter -->
        <a href="#0" class="cd-filter-trigger">Фильтр</a>

    }
</main>
@*<div class="container-fluid py-4 ">

        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-fluid-6">
            <div class="p-1">
                <div class="card">

                    <img src="https://hranim-vino.ru/blog/wp-content/uploads/2017/02/69939963_m.jpg" class="card-img-top">

                    <div class="card-body">

                        <h5 class="card-title">Card title</h5>

                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                    </div>
                </div>
            </div>
        </div>

    </div>*@

@section Styles {
    <link rel="stylesheet" href="~/css/filter-style.css" />
}
@section Scripts {
    <script src="~/js/filter-left-menu.js"></script>
}
