@model GoodsDTO


<div class="ml-3">
    <h4 class="mt-3">@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <div class="my-3">
            @foreach (ImageDTO image in Model.GoodsImage)
            {
                <img src="~/goods_image/@Url.Content(image.Name)" height="150" />
            }
    </div>
    <dl class="dl-horizontal">
        <dt class="text-muted mt-4">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="h5">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="text-muted mt-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="h5">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="text-muted mt-4">
            @Html.DisplayNameFor(model => model.Descript)
        </dt>
        <dd class="h5">
            @Html.DisplayFor(model => model.Descript)
        </dd>
        <dt class="text-muted mt-4">
            @Html.DisplayNameFor(model => model.ShortDescript)
        </dt>
        <dd class="h5">
            @Html.DisplayFor(model => model.ShortDescript)
        </dd>
        <dt class="text-muted mt-4">
            @Html.DisplayNameFor(model => model.IsHidden)
        </dt>
        <dd class="h5">
            @Html.DisplayFor(model => model.IsHidden)
        </dd>
        <dt class="text-muted mt-4">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="h5">
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt class="text-muted mt-4">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="h5">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="text-muted mt-4">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class="h5">
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>*@
</div>
