@model GoodsViewModel

@*<p>
    <a asp-page="~/Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Goods[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goods[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goods[0].Descript)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goods[0].ShortDescript)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goods[0].IsHidden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goods[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goods[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goods[0].Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Goods) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descript)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescript)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IsHidden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Goods" asp-route-area="StoreManage" asp-route-id="@item.Id" class="btn"><img src="~/images/icons/edit.png"/></a> 
                <a asp-action="Details" asp-controller="Goods" asp-route-area="StoreManage"  asp-route-id="@item.Id" class="btn"><img src="~/images/icons/info.png" /></a> 
                <a asp-action="Delete" asp-controller="Goods" asp-route-area="StoreManage"  asp-route-id="@item.Id" class="btn"><img src="~/images/icons/delete.png" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
