@*@page
@model GiftShop.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/StoreManage/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AspNetUsers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.NormalizedUserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.NormalizedUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.NormalizedEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.NormalizedEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.EmailConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.EmailConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.PasswordHash)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.PasswordHash)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.SecurityStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.SecurityStamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.ConcurrencyStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.ConcurrencyStamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.PhoneNumberConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.PhoneNumberConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.TwoFactorEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.TwoFactorEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.LockoutEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.LockoutEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.LockoutEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.LockoutEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.AccessFailedCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.AccessFailedCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AspNetUsers.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>*@
