@using Microsoft.AspNetCore.Identity
@model ChangeRoleViewModel

    <div class="row mt-4 mx-2">
            <a class="nav-link  col-1" asp-action="UserList">
                <img src="~/images/icons/left-arrow.png" width="24" />
            </a>

            <h2 class=" col-auto">Изменение ролей для пользователя @Model.UserEmail</h2>
    </div>
<div class="row my-4 mx-1">
    <div class="col-5">
        <form asp-action="Edit" method="post">
            <input type="hidden" name="userId" value="@Model.UserId" />
            <div class="form-group">
                @foreach (IdentityRole role in Model.AllRoles)
                {
                    <input type="checkbox" name="roles" value="@role.Name" class="my-2"
                           @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
                    }
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>